.general-info-container {
  flex: 1;
  background-color: #3c3d37;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  padding: 1.5rem;
  min-width: 26rem;
  max-width: 30rem;
  border-radius: 1rem;
}

.general-info-header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1.2rem;
}

.general-info-title {
  font-size: 2rem;
  font-weight: 400;
}

.person-icon {
  object-fit: contain;
  max-width: 3rem;
  display: inline;
}

.general-info-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.general-info-widget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}

.general-info-label {
  font-size: 1.4rem;
  overflow: hidden;
}
.general-info-input {
  background-color: inherit;
  border: 0.2rem solid #fff;
  padding: 0.8rem;
  border-radius: 1rem;
  color: inherit;
  overflow: hidden;
}
