.info-container {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 1rem 1rem;
  gap: 1.4rem;
}

.info-set {
  width: 100%;
  background-color: #3c3d37;
  padding: 1rem;
  border-radius: 1rem;
}

.info-list {
  margin-top: 1.4rem;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.2rem;
}

.info-set-header {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.info-set-icon {
  object-fit: contain;
  max-width: 3rem;
}

.info-set-title {
  font-size: 2rem;
  font-weight: 400;
}
