.info-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding-bottom: 0.8rem;
  border: 0.25rem solid #fff;
  margin-bottom: 1rem;
  padding: 0.8rem;
  border-radius: 1rem;
}

.info-item-date {
  font-size: 1.5rem;
}

.info-item-description {
  font-size: 1.5rem;
}

.info-item-remove-button {
  width: fit-content;
  align-self: center;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 0.15rem solid #fff;
  background-color: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 0.3rem;
}

.info-item-button:hover {
  transform: scale(1.1);
  background-color: #dda853;
  border: none;
}

.info-item-title {
  font-size: 1.8rem;
}
