@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "roboto";
}

body {
  color: #fff;
  background-color: #23272f;
}

#root {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.app-container {
  display: flex;
  justify-content: center;
}

.app-container > * {
  height: fit-content;
}

@media (max-width: 700px) {
  html {
    font-size: 8px;
  }
}
