@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "roboto";
}

body {
  color: #fff;
  background-color: #23272f;
}

#root {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.app-container {
  display: flex;
  justify-content: center;
}

.app-container > * {
  height: fit-content;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-reveal {
  animation: reveal 0.4s ease-out forwards;
}

.animate-hide {
  animation: hide 0.3s ease-in forwards;
}

@media (max-width: 700px) {
  html {
    font-size: 8px;
  }
}
